<?xml version="1.0" encoding="UTF-8"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="paypal">
            <SUBMENU id="OXPS_PAYPAL_CONFIG" cl="PayPalConfigController"/>
            <SUBMENU id="OXPS_PAYPAL_TRANSACTIONS"
                     cl="PayPalTransactionController">
            </SUBMENU>
            <SUBMENU id="OXPS_PAYPAL_BALANCES"
                     cl="PayPalBalanceController">
            </SUBMENU>
        </MAINMENU>
        <MAINMENU id="mxmanageprod">
            <SUBMENU id="mxarticles" cl="article" list="article_list">
                <TAB id="OXPS_PAYPAL_SUBSCRIBE" cl="PaypalSubscribeController" />
            </SUBMENU>
        </MAINMENU>
    </OXMENU>
</OX>
